<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="admin/admin_base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add product</title>
</head>
<body>
<section>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card bg-light">
                    <div class="card-body">
                        <h2 class="text-center mb-4 text-primary">Add New Product</h2>
                        <form th:action="@{/admin/product/addProduct}" th:object="${products}" enctype="multipart/form-data" method="post" class="login-background">
                            <div class="mb-3">
                                <input type="text" th:field="*{name}" name="product_name" class="form-control" enctype="multipart/form-data" placeholder="Product Name" required="required">
                            </div>
                            <div class="mb-3">
                                <input type="text" th:field="*{description}" name="product_description" class="form-control" placeholder="Product Description">
                            </div>

                            <div class="mb-3">
                                <label for="categoryId">Category:</label>
                                <select class="form-control mt-1" id="categoryId" name="categoryId" required>
                                    <option th:each="category : ${category}" th:value="${category.uuid}" th:text="${category.name}"></option>
                                </select>
                            </div>

                            <!-- To upload image -->
                            <div class="input-group">
                                    <input type="file" name="images" accept="image/*" multiple class="form-control-file">
                                    <button type="submit" class="btn btn-info">Upload Image</button>
                            </div>

                            <div class="mb-3">
                                <button type="submit" value="add" class="btn btn-primary w-100 mt-2">Submit</button>
                            </div>
                            <p th:if="${error}" class="text-danger text-center">Product already exists</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>