<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/admin_base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category Management</title>
</head>
<body>
<section>
    <div class="table-container border border-primary p-4 m-3">
        <h3>Category List</h3>
        <a th:href="@{/admin/category/addcategory}"  class="btn btn-primary btn-sm">Add New</a>
        <form th:action="@{/admin/category/search}" method="get" class="mb-4">
            <div class="input-group">
                <input type="text" name="searchKey" class="form-control" placeholder="Search by keyword">
                <button type="submit" class="btn btn-info">Search</button>
            </div>
        </form>
    <table class="table table-bordered ">
        <thead>
        <tr>
            <th>Category Name</th>
            <th>Description</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <!-- Use Thymeleaf to iterate over the users and populate the table rows -->
        <tr th:each="category : ${category}">
            <td th:text="${category.name}"></td>
            <td th:text="${category.description}"></td>
            <td>
                <a th:if="${category.isdeleted==true}" th:href="@{'/admin/category/disable/' + ${category.uuid}}" class="btn btn-success" href="">Disable</a>
                <a th:if="${category.isdeleted==false}" th:href="@{'/admin/category/enable/' + ${category.uuid}}" class="btn btn-danger" href="">Enable</a>
            </td>
<!--            <td>-->
<!--                <a class="btn btn-outline-primary" th:href="@{'/admin/category/edit/' + ${category.uuid}}">Edit</a>-->
<!--            </td>-->
        </tr>
        </tbody>
    </table>
    </div>
</section>
</body>
</html>