<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/admin_base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management</title>
</head>
<body>
<section>
    <div class="table-container border border-primary p-4 m-3">
        <h3>User List</h3>
        <form th:action="@{/admin/getusers/search}" method="get" class="mb-4">
            <div class="input-group">
                <input type="text" name="searchTerm" class="form-control" placeholder="Search by keyword">
                <button type="submit" class="btn btn-info">Search</button>
            </div>
        </form>
    <table class="table table-bordered table-striped table-hover table-responsive-xl">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <!-- Use Thymeleaf to iterate over the users and populate the table rows -->
        <tr th:each="user : ${listUsers}">
            <td th:text="${user.firstname}"></td>
            <td th:text="${user.lastname}"></td>
            <td th:text="${user.userEmail}"></td>
            <td>
                <a th:if="${user.enabled==true}" class="btn btn-success" href="">Block</a>
                <a th:if="${user.enabled==false}" class="btn btn-danger" href="">Unblock</a>
            </td>
            <td>
                <a class="btn btn-outline-primary" href="">Edit</a>
                <a class="btn btn-danger" href="">Delete</a>

<!--                <a th:href="@{'/admin/getusers/block/' + ${user.user_id}}" class="btn btn-warning btn-sm">Block</a>-->
<!--                <a th:href="@{'/admin/getusers/delete/' + ${user.user_id}}" class="btn btn-danger btn-sm">Delete</a>-->
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</section>
</body>
</html>