<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/admin_base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management</title>
</head>
<body>
<section>
    <div class="table-container border border-primary p-4 m-3">
        <h3>User List</h3>
        <form th:action="@{/admin/getusers/search}" method="get" class="mb-4">
            <div class="input-group">
                <input type="text" name="searchTerm" class="form-control" placeholder="Search by keyword">
                <button type="submit" class="btn btn-info">Search</button>
            </div>
        </form>
    <table class="table table-bordered table-striped table-hover table-responsive-xl">
        <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <!-- Use Thymeleaf to iterate over the users and populate the table rows -->
        <tr th:each="user : ${listUsers}">
            <td th:text="${user.uuid}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.phone}"></td>
            <td>
                <a th:if="${user.enabled==true}" th:href="@{'/admin/getusers/block/' + ${user.uuid}}" class="btn btn-success" href="">Block</a>
                <a th:if="${user.enabled==false}" th:href="@{'/admin/getusers/unblock/' + ${user.uuid}}" class="btn btn-danger" href="">Unblock</a>
            </td>
        </tr>
        </tbody>
    </table>
        <div th:if="${listUsers.totalPages > 1}">
            <ul class="pagination justify-content-center">
                <li th:if="${!listUsers.first}" class="page-item">
                    <a class="page-link" th:href="@{${'/admin/getusers/?page=' + (listUsers.number - 1)}}">Previous</a>
                </li>
                <li th:each="page : ${#numbers.sequence(0, listUsers.totalPages - 1)}"
                    th:class="${listUsers.number == page ? 'page-item active' : 'page-item'}">
                    <a class="page-link" th:href="@{${'/admin/getusers/?page=' + page}}" th:text="${page + 1}"></a>
                </li>
                <li th:if="${!listUsers.last}" class="page-item">
                    <a class="page-link" th:href="@{${'/admin/getusers/?page=' + (listUsers.number + 1)}}">Next</a>
                </li>
            </ul>
        </div>

    </div>
</section>
</body>
</html>