<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" th:fragment="Layout(content)">
<head>
    <!-- This is the parent page template and all other pages are its child pages. This page acts as a template
      This page enables code reusability. The commonly repeated portions of all pages can be designed here-->
    <meta charset="UTF-8">
    <title>TechZone</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.js}" />
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
    <style>
        body {
            min-height: 100vh;
        }
    </style>
</head>
<body>
<div class="d-flex flex-column min-vh-100">
<!--Nav bar starts here-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/admin/dashboard}">TechZone
<!--  for logo===>      <img th:src="@{/images/path.png}" />  -->

        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation" aria-controls="navbarSupportedContent" data-bs-target="#topNavbar" >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/dashboard}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/getusers}">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/category}">Category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/product}">Products</a>
                </li>
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" th:href="@{/}">Orders</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" th:href="@{/}">Payment Methods</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" th:href="@{/}">Sales report</a>-->
<!--                </li>-->
            </ul>
            <form th:action="@{/logout}" method="post" style="display: inline;">
                <button type="submit" class="btn btn-outline-white">Logout</button>
            </form>
        </div>
    </div>
</nav>
<!--Nav bar ends here-->
    <div th:replace="${content}"></div>
<!--Footer starts here-->
    <footer class="footer mt-auto py-3 text-center">
        <div class="container">
            <span class="text-muted">&copy; 2023 TechZone. All rights reserved</span>
        </div>
    </footer>
</div>
<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
</body>
</html>