<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
<section>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card bg-light">
                <div class="card-body">
                    <h2 class="text-center mb-4 text-primary">Sign in</h2>
                    <form th:action="@{/login}" method="post" class="login-background">
                        <div class="mb-3 ml-5 mr-5">
                            <input type="email" name="email" class="form-control" placeholder="name@mail.com" required="required">
                        </div>
                        <div class="mb-3 ml-5 mr-5">
                            <input type="password" name="password" class="form-control" placeholder="Password" required="required">
                        </div>
                        <div class="mb-3 pl-5 pr-5">
                            <button type="submit" value="Login" class="btn btn-primary w-100">Login</button>
                        </div>
                        <p th:if="${error}" class="text-danger text-center">E-mail or Password Incorrect!!!</p>
                        <p class="text-center">Don't have an account? <a href="/signup">Register here</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
</body>
</html>